@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

/* navbar */
.navbar {

    & img[alt='logo'] {
        width: 5rem;
    }
}

body {
    height: 100dvh;
    width: 100%;
    display: grid;
    grid-template-rows: auto minmax(100%, 100dvh) auto;
}




    

/* all images */
img {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}

/* text-align: center */
:is(h2){
    text-align: center;
}

footer {
    display: grid;
    grid-template-rows: 200px 80px;
    grid-template-columns: repeat(3, 1fr);

}



ul>li {
    align-items: center;
    justify-content: center;
    list-style: none;
}

.links {
    grid-column: 1/2;
}

.locations {
    grid-column: 2/3;
}

.info {
    grid-column: 3/-1;
}
.copyrights{
    grid-column: 1/-1;
    text-align: center;
}
.home{
    background-image: linear-gradient(to right, pink, rgb(239, 69, 208)); 
    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
    grid-template-rows: 2fr;
}
.home-pic{
    grid-column: 1/2;
    grid-row: 1/2;
}
.main_flower{
    grid-column: 2/3;
    grid-row: 1/2;
    font-weight: bold;
}
.home-btn{
    background-color: rgb(221, 26, 140);
    color: white;
    

}

.startButton{
   margin-left: 2rem;
}
.about{
    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
    grid-template-rows: 2fr;
}
.about-paragraph{
    grid-column: 1/2;
    grid-row: 1/2;
}
.about-pic{
    grid-column: 2/3;
    grid-row: 1/2;
    
}
.team-btn{
    width: 150px;
    height: 80px;
    margin-top: 20px;
    background-image: linear-gradient(to right, pink, rgb(249, 26, 178));
    margin-right: none;
}
.card{
    display: flex;
    height: 100%;
}
