*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    display: none;
}
/* navbar */
.navbar{

    & img[alt= 'logo']{
        width: 5rem;
    }
}
/* all images */
img{
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}