@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

/* navbar */
.navbar {

    & img[alt='logo'] {
        width: 5rem;
    }
}

body {
    height: 100dvh;
    width: 100%;
    display: grid;
    grid-template-rows: auto minmax(100%, 100dvh) auto;
}




    

/* all images */
img {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}

/* text-align: center */
:is(h2){
    text-align: center;
}

[product-footer]{
    margin-top: 20rem;
}

footer {
    
    display: grid;
    grid-template-rows: 200px 80px;
    grid-template-columns: repeat(3, 1fr);
}



ul>li {
    align-items: center;
    justify-content: center;
    list-style: none;
}

.links {
    grid-column: 1/2;
}

.locations {
    grid-column: 2/3;
}

.info {
    grid-column: 3/-1;
}
.copyrights{
    grid-column: 1/-1;
    text-align: center;
}
.home{
    background-image: linear-gradient(to right, pink, rgb(239, 69, 208)); 
    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
    grid-template-rows: 2fr;
}
.home-pic{
    grid-column: 1/2;
    grid-row: 1/2;

}
.main_flower{
    grid-column: 2/3;
    grid-row: 1/2;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-justify: auto;
    width: 50vw;
}
.home-btn{
    background-color: rgb(221, 26, 140);
    color: white;
    width: 100px;
    float: inline-end;
    
}

.startButton{
   margin-left: 2rem;
}
.about{
    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
    grid-template-rows: 2fr;
    gap: 15px;
    margin-left: 200px;
    margin-top: 20px;
}
.about-paragraph{
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 20px;
}
.about-pic{
    grid-column: 2/3;
    grid-row: 1/2;
    
}
.team-btn{
    width: 150px;
    height: 80px;
    margin-top: 20px;
    background-image: linear-gradient(to right, pink, rgb(249, 26, 178));
    margin-right: none;
}

.about-footer{
    margin-top: 15rem;
}

.card{
    width: 18rem;
    padding-top: 5px;
    overflow-y: auto;
}
.nav-link{
    color: rgb(232, 9, 131);
    font-size: 20px;
}
#cartBtn{
    background-image: linear-gradient( to right, rgb(223, 132, 171), rgb(235, 10, 145));
    color: white;
}
#sort-btn{
    width: 100px;
    height: 50px;
    background-color: rgb(214, 90, 163);
    color: white;
    border: 2px solid rgb(12, 12, 12);
}
#search-btn{
    width: 90px;
    height: 50px;
    background-color: rgb(214, 90, 163);
    margin-left:15px ;
    color: white;
    margin-bottom: 50px;
    border: 2px solid rgb(19, 18, 19);
}
#productsInput{
    width: 250px;
    height: 30px;
    margin-left: 1000px;
    margin-right: 15px;
    color: rgb(235, 13, 191);
    margin-bottom: 50px;
    border: 2px solid rgb(212, 8, 114);
    
}
[flowerProducts]{
    border: 2px solid rgb(212, 8, 114);
}
.badge{
    background-color: rgb(213, 42, 111);
    border-radius: 20%;
}
#hiddenDiv{
    gap: 40px;
    margin-left: 30px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
   display: none;
    
}

.qlinks{
    font-size: 15px;
    font-weight:bold;

}
.delete{
    width: 100px;
    height: 50px;
    background-color: rgb(214, 90, 163);
    color: white;
    margin-top: 10px;
    margin-right: 10px;
    float: right;
}
.edit{
    width: 100px;
    height: 50px;
    background-color: rgb(214, 90, 163);
    color: white;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
[product-footer]{
    margin-top: 25rem;

}
.contact{
    background-color: rgb(219, 203, 209);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 700px;
    height: 750px;
    gap: 20px;
    align-items: center;
    margin-left: 500px;
    border: 2px solid rgb(179, 40, 109);

}
.contact-input{
    width: 250px;
    height: 50px;
    border: 10px;
}
.contact-message{
    width: 300px;
    height: 350px;
}
.contact-btn{
    width: 100px;
    height: 50px;
    background-color: rgb(214, 90, 163);
    color: white;
    border: 2px solid rgb(195, 55, 125);
    
}
.contact-footer{
    margin-top: 10rem
}
.contact-p{
    color: rgb(7, 6, 7);
}
.h2-contact{
    color: rgb(202, 53, 148);
}
.spinner {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 3px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border-top-color: #000;
    animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
    to { transform: rotate(360deg); }
}
/* Hide spinner initially */
#spinner {
    display: none;
}
.modal-body{
    background-color: rgb(239, 132, 205);
    gap: 25px;
    display: flex;
    flex-direction: column;
    height: 10%;
}
.modal-text{
    width: 250px;
    height: 40px;
}
#modal-btn{
    background-color: rgb(191, 57, 131);
}
